body { background: url(../../../plugins/crown/images/backgrounds/bodyBg.png) repeat-y 0 0; }
iframe{
    /*frameborder:"0";*/
    width:100%;
    height:100%;
    /*scrolling:auto;*/
    /*rameborder:0;*/
}

/* ==========  左侧菜单栏  ========== */
/* 左侧整体 */
#leftSide {
    padding-bottom: 5px;
}
/* 左侧菜区 */
#leftSide .navBar{
    height:403px;
    overflow-y:auto;
}
/* ==========  右侧主页面  ========== */
/* 右侧整体 */
#rightSide {
    padding-bottom: 0;
}
#rightSide #main{
    height: 620px;
    width: 100%;
    margin: 0 10px 0 1%;
}
/* 右侧底部 */
#footer .wrapper {
    padding: 5px 0 5px 222px;
    align-items: center;
}
/* Content */
#navBar::-webkit-scrollbar { width: 0 !important }
.mHide {
    float: left;
    padding: 8px 10px 5px 0;
    margin-left: 10px;
}