<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>我的笔记</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link href="../../../static/plugins/crown/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" media="all" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.css" media="all" />
</head>
<body class="nobg">

<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>我的笔记</h5>
            <span>Do your layouts deserve better than Lorem Ipsum.</span>
        </div>
        <div class="middleNav">
            <ul>
                <li class="mUser"><a href="#" title=""><span class="users"></span></a>
                    <ul class="mSub1">
                        <li><a href="#" title="">Add user</a></li>
                        <li><a href="#" title="">Statistics</a></li>
                        <li><a href="#" title="">Orders</a></li>
                    </ul>
                </li>
                <li class="mMessages"><a href="#" title=""><span class="messages"></span></a>
                    <ul class="mSub2">
                        <li><a href="#" title="">New tickets<span class="numberRight">8</span></a></li>
                        <li><a href="#" title="">Pending tickets<span class="numberRight">12</span></a></li>
                        <li><a href="#" title="">Closed tickets</a></li>
                    </ul>
                </li>
                <li class="mFiles"><a href="#" title="Or you can use a tooltip" class="tipN"><span class="files"></span></a></li>
                <li class="mOrders"><a href="#" title=""><span class="orders"></span><span class="numberMiddle">8</span></a>
                    <ul class="mSub4">
                        <li><a href="#" title="">Pending uploads</a></li>
                        <li><a href="#" title="">Statistics</a></li>
                        <li><a href="#" title="">Trash</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>
<!-- Page statistics area -->
<!--<div class="statsRow">-->
    <!--<div class="wrapper">-->
        <!--<div class="controlB">-->
            <!--<ul>-->
                <!--<li><a href="#" title=""><img src="images/icons/control/32/plus.png" alt="" /><span>Add new session</span></a></li>-->
                <!--<li><a href="#" title=""><img src="images/icons/control/32/database.png" alt="" /><span>New DB entry</span></a></li>-->
                <!--<li><a href="#" title=""><img src="images/icons/control/32/hire-me.png" alt="" /><span>Add new user</span></a></li>-->
                <!--<li><a href="#" title=""><img src="images/icons/control/32/statistics.png" alt="" /><span>Check statistics</span></a></li>-->
                <!--<li><a href="#" title=""><img src="images/icons/control/32/comment.png" alt="" /><span>Review comments</span></a></li>-->
                <!--<li><a href="#" title=""><img src="images/icons/control/32/order-149.png" alt="" /><span>Check orders</span></a></li>-->
            <!--</ul>-->
            <!--<div class="clear"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="line"></div>-->

<!-- Main content wrapper -->
<div class="wrapper">

    <!-- Note -->
<!--    <div class="nNote nInformation hideit">-->
<!--        <p><strong>NOTE: </strong>These are predefined content and sidebar widgets. Also please check content grid page</p>-->
<!--    </div>-->

    <!-- Widgets -->
    <div class="widgets">
        <div id="content" class="markdown-body"></div>
        <div class="clear"></div>
    </div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="../../../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="../../../static/base/markdown/mdnotes.js"></script>
<script>
    var url = "https://cdn.jsdelivr.net/gh/liwncy/onenotes/java/stream.md";
    $.get(url,function(data,status){
        console.log("数据: " + data + "\n状态: " + status);
        document.getElementById('content').innerHTML = marked(data);
    });
</script>
</html>
